<header class="fixed w-screen z-10 backdrop-blur-md">
  <div class="flex flex-row-reverse md:flex-row justify-between">
    <a
      #item
      href="#"
      class="flex items-center p-4 ms-2 md:ms-8 gap-2 text-foreground font-bold uppercase tracking-wider"
    >
      <span class="text-lg">Aadithya Sai</span>
    </a>
    <nav
      class="hidden md:flex justify-between items-center p-4 pe-6 gap-5 text-muted-foreground font-bold tracking-wider"
    >
      <portfolio-nav-item #item link="gh"
        ><i class="ph-bold ph-github-logo me-2"></i>GitHub</portfolio-nav-item
      >
      <portfolio-nav-item #item link="ln"
        ><i class="ph-bold ph-linkedin-logo me-2"></i
        >Linkedin</portfolio-nav-item
      >
      <portfolio-nav-item #item link="lc"
        ><i class="ph-bold ph-code-simple me-2"></i>Leetcode</portfolio-nav-item
      >
      <portfolio-nav-item #item link="mail"
        ><i class="ph-bold ph-envelope-simple me-2"></i
        >E-Mail</portfolio-nav-item
      >
      <button
        class="border border-primary p-2 rounded-lg motion-reduce:transition-none transition-all duration-300 ease-in-out hover:translate-x-1 hover:-translate-y-1 hover:shadow-primary hover:shadow-[-2px_4px]"
      >
        Resume
      </button>
    </nav>
    <div #item class="md:hidden p-4 ms-2 text-foreground text-lg">
      <button (click)="toggleDropdown()">
        <i class="ph-bold ph-list"></i>
      </button>
    </div>
  </div>

  <div #dropdown class="w-screen h-screen hidden">
    <div
      class="flex flex-col justify-between items-center p-4 pe-6 gap-5 text-muted-foreground font-bold tracking-wider"
    >
      <portfolio-nav-item #dropdownitem link="gh" class="opacity-0"
        ><i class="ph-bold ph-github-logo me-2"></i>GitHub</portfolio-nav-item
      >
      <portfolio-nav-item #dropdownitem link="ln" class="opacity-0"
        ><i class="ph-bold ph-linkedin-logo me-2"></i
        >Linkedin</portfolio-nav-item
      >
      <portfolio-nav-item #dropdownitem link="lc" class="opacity-0"
        ><i class="ph-bold ph-code-simple me-2"></i>Leetcode</portfolio-nav-item
      >
      <portfolio-nav-item #dropdownitem link="mail" class="opacity-0"
        ><i class="ph-bold ph-envelope-simple me-2"></i
        >E-Mail</portfolio-nav-item
      >
      <button
        #dropdownitem
        class="border border-primary p-2 rounded-lg opacity-0"
      >
        Resume
      </button>
    </div>
  </div>
</header>
