<header class="fixed w-screen z-10 backdrop-blur-md">
  <div class="flex flex-row justify-between">
    <div
      #item
      class="md:hidden p-4 ms-2 text-foreground text-lg flex items-center"
    >
      <button (click)="toggleDropdown()" class="relative">
        <i #hamburgeropen class="ph-bold ph-list absolute"></i>
        <i #hamburgerclose class="ph-bold ph-x absolute opacity-0"> </i>
      </button>
    </div>
    <a
      #item
      href="#"
      class="flex items-center p-4 ms-2 md:ms-8 gap-2 text-foreground font-bold uppercase tracking-wider"
    >
      <span class="text-lg">Aadithya Sai</span>
    </a>
    <nav
      class="hidden md:flex justify-between items-center p-4 pe-6 gap-5 text-muted-foreground font-bold tracking-wider"
    >
      <portfolio-nav-item #item link="https://www.github.com/aadithyasai"
        ><i class="ph-bold ph-github-logo me-2"></i>GitHub</portfolio-nav-item
      >
      <portfolio-nav-item #item link="https://www.linkedin.com/in/aadithyasai"
        ><i class="ph-bold ph-linkedin-logo me-2"></i
        >Linkedin</portfolio-nav-item
      >
      <portfolio-nav-item #item link="https://www.leetcode.com/aadithyasai"
        ><i class="ph-bold ph-code-simple me-2"></i>Leetcode</portfolio-nav-item
      >
      <portfolio-nav-item #item link="mailto:aadithyas0610@gmail.com"
        ><i class="ph-bold ph-envelope-simple me-2"></i
        >E-Mail</portfolio-nav-item
      >
      <button
        class="border border-primary p-2 rounded-lg motion-reduce:transition-none transition-all duration-300 ease-in-out hover:translate-x-1 hover:-translate-y-1 hover:shadow-primary hover:shadow-[-2px_4px]"
      >
        Resume
      </button>
    </nav>
  </div>

  <div #dropdown class="w-screen h-screen hidden">
    <div
      class="flex flex-col justify-between items-center p-4 pe-6 gap-5 text-muted-foreground font-bold tracking-wider"
    >
      <portfolio-nav-item
        #dropdownitem
        link="https://www.github.com/aadithyasai"
        class="opacity-0"
        ><i class="ph-bold ph-github-logo me-2"></i>GitHub</portfolio-nav-item
      >
      <portfolio-nav-item
        #dropdownitem
        link="https://www.linkedin.com/in/aadithyasai"
        class="opacity-0"
        ><i class="ph-bold ph-linkedin-logo me-2"></i
        >Linkedin</portfolio-nav-item
      >
      <portfolio-nav-item
        #dropdownitem
        link="https://www.leetcode.com/aadithyasai"
        class="opacity-0"
        ><i class="ph-bold ph-code-simple me-2"></i>Leetcode</portfolio-nav-item
      >
      <portfolio-nav-item
        #dropdownitem
        link="mailto:aadithyas0610@gmail.com"
        class="opacity-0"
        ><i class="ph-bold ph-envelope-simple me-2"></i
        >E-Mail</portfolio-nav-item
      >
      <button
        #dropdownitem
        class="border border-primary p-2 rounded-lg opacity-0"
      >
        Resume
      </button>
    </div>
  </div>
</header>
