<div class="grid grid-cols-2">
  <portfolio-panel projectSectionAnimation class="">
    <div class="flex flex-col items-center mt-[50vh]">
      <h1 class="text-4xl font-bold">Projects</h1>
      <p class="text-lg text-center">
        I have worked on a variety of projects, ranging from web development to
        machine learning. Here are some of the projects I have worked on.
      </p>
    </div>
  </portfolio-panel>
  <portfolio-panel class="">
    <div
      class="flex flex-col gap-4 items-center justify-center w-full mt-[100vh]"
    >
      <portfolio-project-card
        *ngFor="let project of projects"
        [project]="project"
      ></portfolio-project-card>
    </div>
  </portfolio-panel>
</div>
