<div>
  <div #heroContent class="w-screen h-screen flex justify-center items-center">
    <div #line class="flex flex-col gap-2">
      <p class="sm:text-2xl ms-1 font-bold font-mono">
        <span class="text-code-keyword">import </span>
        <span class="text-code-brace">{{ "{" }} </span>
        <span class="text-code-variable">me </span>
        <span class="text-code-brace">{{ "}" }} </span>
        <span class="text-code-keyword">from </span>
        <span class="text-code-string">'me'</span
        ><span class="text-code-brace">;</span>
      </p>
      <p #line class="text-lg sm:text-3xl md:text-5xl ms-5 font-bold font-mono">
        <span>me</span>.<span class="text-code-variable">name</span
        ><span class="text-code-operator"> = </span
        ><span class="text-code-string">"Aadithya Sai"</span
        ><span class="text-code-brace">;</span>
      </p>
      <p #line class="sm:text-xl md:text-4xl font-bold font-mono">
        <span>me</span>.<span class="text-code-variable">who</span
        ><span class="text-code-operator"> = </span
        ><span class="text-code-string"
          >"<span #desc>Developer</span
          ><span
            class="motion-reduce:animate-none animate-blink text-foreground font-thin"
            >|</span
          >"</span
        ><span class="text-code-brace">;</span>
      </p>
    </div>
  </div>
</div>
