<div class="w-full bg-secondary m-2">
  <div class="flex flex-col justify-center">
    <img src="{{ project.image }}" alt="" />
    <h1 class="text-2xl font-bold">{{ project.title }}</h1>
    <p class="text-lg">{{ project.description }}</p>
    <div class="flex justify-between">
      <a href="#" class="text-lg text-primary underline hover:text-primary-dark"
        >Github</a
      >
      <a href="#" class="text-lg text-primary underline hover:text-primary-dark"
        >Demo</a
      >
    </div>
  </div>
</div>
