<a href="{{ project.link }}" target="_blank">
  <div
    class="relative flex bg-clip-border text-card-foreground shadow-md w-[90%] max-w-[48rem] rounded-lg p-3 hover:bg-muted-foreground/10 group/card cursor-pointer"
  >
    <div class="relative m-0 overflow-hidden bg-clip-border rounded shrink-0">
      <img
        src="{{ project.image }}"
        alt="card-image"
        class="object-cover h-full aspect-square"
      />
    </div>
    <div class="px-6">
      <p class="text-muted-foreground font-mono">{{ project.year }}</p>
      <h4
        class="font-sans text-2xl antialiased font-semibold leading-snug tracking-normal group-hover/card:text-primary flex gap-3"
      >
        {{ project.title }}
        <div
          class="group-hover/card:-translate-y-0.5 group-hover/card:translate-x-0.5 motion-reduce:transition-none transition-transform duration-300 ease-in-out"
        >
          <i class="ph-bold ph-arrow-up-right"></i>
        </div>
      </h4>
      <a
        href="{{ project.github }}"
        class="text-sm ms-1 w-fit flex items-center gap-1 hover:text-code-operator group/github"
        ><i class="ph-bold ph-code"></i
        ><span class="group-hover/github:underline">Source Code</span></a
      >
      <p
        class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-muted-foreground"
      >
        {{ project.description }}
      </p>
      <div class="flex gap-3 flex-wrap">
        @for (tech of project.technologies; track tech) {
        <p
          class="px-2 py-1 min-w-14 text-center bg-pill-background/20 border border-pill-background rounded-3xl"
        >
          {{ tech }}
        </p>
        }
      </div>
    </div>
  </div>
</a>
