<div class="w-screen h-screen relative border border-pink-600">
  <div class="absolute top-[5vh] left-[10vw] flex flex-col gap-5">
    <p class="text-3xl font-extrabold uppercase">Who am I?</p>
    <p class="ms-3 w-1/2">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      aspernatur, obcaecati illum natus dolores maxime maiores deleniti minus!
      Natus nesciunt ratione facere et consectetur aspernatur assumenda id
      perferendis vitae dolor.
    </p>
    <p class="ms-3 w-1/2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iusto libero
      odit, distinctio omnis quas id minus optio asperiores praesentium
      exercitationem repellat esse hic illo dicta facilis nobis ipsam. Harum!
    </p>
  </div>
</div>
