<div class="w-screen h-screen relative">
  <div class="absolute top-[15vh] left-[5vw] block">
    <div class="flex flex-col gap-5">
      <p
        #heading
        class="text-3xl font-extrabold uppercase tracking-tight leading-tight"
      >
        Who am I?
      </p>
      <div #content class="mx-3 pe-6 w-full md:w-1/2 leading-normal">
        <p>
          I'm a technophile and coding enthusiast driven by the thrill of
          problem-solving and the power of automation. With a knack for quickly
          mastering new technologies, I'm always seeking innovative ways to
          automate the boring stuff. In addition , I'm proficient in developing
          desktop applications and websites, both front-end and back-end.
          <br /><br />
          Beyond the world of coding, I'm a voracious reader and audiophile,
          constantly expanding my knowledge and perspectives. Let's connect and
          see how we can collaborate on exciting projects!
        </p>
      </div>
    </div>
    <div class="mt-16 flex flex-col gap-5">
      <p
        #heading
        class="text-3xl font-extrabold uppercase tracking-tight leading-tight"
      >
        Skills
      </p>
      <div
        #content
        class="w-full md:w-2/3 mx-3 pe-3 grid grid-cols-2 sm:grid-cols-4"
      >
        @for (skill of skills; track skill) {
        <div>
          <p class="text-lg font-bold">{{ skill.type }}</p>
          <ul>
            @for (elem of skill.array; track $index) {
            <li class="flex items-center my-1">
              <i class="ph-bold ph-caret-right text-primary"></i>
              {{ elem }}
            </li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </div>
  <div #image class="absolute top-[10vh] hidden md:block left-[60vw]">
    <img
      src="./Aadithya_NoBG.png"
      alt="my pic"
      class="object-contain rounded-md max-h-96"
    />
  </div>
</div>
