<div class="w-screen h-screen relative">
  <div class="absolute top-[15vh] left-[5vw] block">
    <div class="flex flex-col gap-5">
      <p
        #heading
        class="text-3xl font-extrabold uppercase tracking-tight leading-tight"
      >
        Who am I?
      </p>
      <div #content class="ms-3 w-1/2 leading-normal">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
          aspernatur, obcaecati illum natus dolores maxime maiores deleniti
          minus! Natus nesciunt ratione facere et consectetur aspernatur
          assumenda id perferendis vitae dolor.
          <br /><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex iusto
          libero odit, distinctio omnis quas id minus optio asperiores
          praesentium exercitationem repellat esse hic illo dicta facilis nobis
          ipsam. Harum!
        </p>
      </div>
    </div>
    <div class="mt-16 flex flex-col gap-5">
      <p
        #heading
        class="text-3xl font-extrabold uppercase tracking-tight leading-tight"
      >
        Skills
      </p>
      <div #content class="w-1/2 ms-3 grid grid-cols-4">
        @for (skill of skills; track skill) {
        <div>
          <p class="text-lg font-bold">{{ skill.type }}</p>
          <ul>
            @for (elem of skill.array; track $index) {
            <li class="flex items-center my-1">
              <i class="ph-bold ph-caret-right text-primary"></i>{{ elem }}
            </li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </div>
  <div #image class="absolute top-[20vh] left-[60vw]">
    <img
      src="./Aadithya_NoBG.png"
      alt="my pic"
      class="object-contain rounded-md"
    />
  </div>
</div>
